@use 'variables' as *;
@use 'mixins' as *;
@use 'commons' as *;
@use 'grid' as *;

.section-offer {
    margin: $top auto;

    @media (max-width: $lg) {
        margin: 50px 0;
    }

    .col-6 {
        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
            max-height: 600px;
            width: auto;
            padding: 30px;
        }

        h1 {
            @include font($smooch-sans, $h1-size, 300);
            text-transform: uppercase;
            color: $heading-color;

            span {
                font-weight: 600;
            }
        }

        h2 {
            @include font($smooch-sans, $h2-size, 300);
            text-transform: uppercase;
            color: $description-color;
        }

        hr {
            border: 1px solid $primary-color;
            width: 100%;
            height: 1px;
        }

        p {
            @include font($open-sans, 18px, 300);
            color: $description-color;
            line-height: 25px;
        }

        ul {
            padding: 30px 0;

            li {
                @include font($open-sans, 25px, 300);
                padding: 12px 0;
                border-top: 1px solid #c5c5c5;

                &:last-child {
                    border-bottom: 1px solid #c5c5c5;
                }

                &::before {
                    content: url("/assets/cehckSmall.png");
                    width: 25px;
                    aspect-ratio: 1/1;
                    padding-right: 15px;
                }

                @media (max-width: $lg) {
                    font-size: 20px;
                }
            }
        }
    }
}
