@use 'variables' as *;
@use 'mixins' as *;
@use 'commons' as *;
@use 'grid' as *;

.section-missingPage {
    background-color: $primary-color;
    height: 100vh;
    margin-top: -100px;

    .col-12 {
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            height: 300px;
        }

        h1 {            
            margin-top: 50px;
            text-align: center;
            @include font($smooch-sans, 70px, 400);
            color: #fff;

            span {
                font-weight: 700;
            }

            @media (max-width:$lg) {
                font-size: 45px;
            }
        }

        a {
            margin-top: 50px;
            padding: 20px 35px;
            text-align: center;
            @include font($smooch-sans, 40px, 400);
            color: $heading-color;
            text-transform: uppercase;
            text-decoration: none;
            border-radius: 20px;
            transition: all 0.3s ease;

            &:hover {
                background-color: $heading-color;
                color: $primary-color;
            }

            @media (max-width:$lg) {
                font-size: 25px;
            }
        }
    }
}
