@use 'variables' as *;
@use 'mixins' as *;
@use 'commons' as *;
@use 'grid' as *;

.section-process {
    padding: $top 0;
    background-image: url('/assets/processBckg.png');
    background-repeat: no-repeat;
    background-position: 0px;
    background-size: cover;

    @media (max-width: $lg) {
        padding: 50px 0;
        background-position: -370px;
    }

    .col-12 {
        text-align: center;
        h1 {
            @include font($smooch-sans, $h1-size, 300);
            text-transform: uppercase;
            color: $primary-color;
            padding-bottom: 70px;

            span {
                font-weight: 700;
            }
        }
    }

    .col-4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            width: 300px;
            aspect-ratio: 1/1;
        }

        h1 {
            position: relative;
            padding-top: 50px;
            @include font($smooch-sans, $h2-size, 600);
            text-transform: uppercase;
            color: white;
            padding-bottom: 20px;
            letter-spacing: 1.5px;
            z-index: 1;

            span {
                position: absolute;
                color: $primary-color;
                opacity: 70%;
                @include font($smooch-sans, $h1-size, 700);
                top: 50%;
                left: 50%;
                transform: translate(-50%, -30%);
                z-index: -10;
            }
        }

        p {
            @include font($open-sans, 16px, 500);
            color: $description-color;
            line-height: 18px;
            text-align: center;
            max-width: 300px;
        }
    }
}
