@use 'variables' as *;
@use 'mixins' as *;
@use 'commons' as *;
@use 'grid' as *;

.slepContent {
    padding: 150px 0;

    @media (max-width: $lg) {
        padding: 30px 0;
    }

    .imageDiv {
        display: flex;
        align-items: center;
    }

    .col-6 {
        img {
            width: 100%;
            border: 5px solid $primary-color;
        }

        h1 {
            @include font($smooch-sans, 40px, 300);
            text-transform: uppercase;
            color: $heading-color;

            span {
                font-weight: 600;
            }
        }

        hr {
            margin: 15px 0;
            border: 1px solid $primary-color;
        }

        p {
            @include font($open-sans, 16px, 400);
            line-height: 20px;
            color: $description-color;
        }

        ul {
            padding-top: 70px;

            li {
                @include font($open-sans, 25px, 300);
                padding: 12px 0;
                border-top: 1px solid #c5c5c5;

                &:last-child {
                    border-bottom: 1px solid #c5c5c5;
                }

                &::before {
                    content: url("/assets/cehckSmall.png");
                    width: 25px;
                    aspect-ratio: 1/1;
                    padding-right: 15px;
                }

                @media (max-width: $lg) {
                    font-size: 20px;
                }
            }

            @media (max-width: $lg) {
                padding-top: 0;
            }
        }
    }
}
