$smooch-sans: "Smooch Sans", serif;
$open-sans:"Open Sans", serif;
$raleway:"Raleway", serif;

$primary-color: #ffc326;
$background-color: #ffffff;
$heading-color: #232323;
$description-color: #787878;

//BREAKPOINTS
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$hd: 1600px;
$section-height:100vh;

//SIZES
$h1-size: 60px;
$h2-size: 35px;

//SPACING
$top: 150px
